<h1>Rental summary:</h1>

<p><%= @rental.camera.model %></p>
<p><%= @rental.camera.details %></p>
<p>From:<%= @rental.start_date %></p>
<p>Until:<%= @rental.end_date %></p>

<%#= link_to "Cancel request", %>
<%= link_to "Back to cameras", cameras_path %>
