<h1>All available Cameras</h1>
 <h2><%= link_to "Add A Camera", new_camera_path %></h2>

  <% @cameras.each do |camera| %>
    <div class="card-product">
      <img src="#" />
      <div class="card-product-infos">
        <h2><%= link_to camera.model, camera_path(camera) %></h2>
        <p><%= camera.details %></p>
        <p><%= link_to "edit", edit_camera_path(camera) %></p>
        <p><%= link_to "remove",
            camera_path(camera),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </p>
      </div>
    </div>
  <% end %>
