<h1>All Available Cameras</h1>

  <% @cameras.each do |camera| %>
    <div class="card-product">
          <% if !camera.photo.key.nil? %>
          <img src= "<%= cl_image_path (camera.photo.key)%>">
          <% end %>
      <div class="card-product-infos">
        <h2><%= link_to camera.model, camera_path(camera) %></h2>
          <p><%= camera.details %></p>
      </div>
    </div>
  <% end %>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
