<h1><%= @camera.model%></h1>
<% if !@camera.photo.key.nil? %>
          <img src= "<%= cl_image_path (@camera.photo.key)%>">
          <% end %>
<p><%= @camera.details %></p>
<p><%= @camera.price_per_day %></p>

<% if current_user != @camera.user %>
 <p><%= link_to "Rent camera", new_camera_rental_path(params[:id]) %></p>
<% end %>
<p><%= link_to "Back to the list", cameras_path %></p>
