<h1 class="text-center my-3"><%= @camera.model%></h1>

<div class="container">
  <div class="centering-cards">
    <div class="card-product">
        <% if !@camera.photo.key.nil? %>
          <img src= "<%= cl_image_path (@camera.photo.key)%>">
        <% end %>
          <div class="card-product-infos">
              <p><span class="bold-text-card-details">Details: </span><%= @camera.details %></p>
              <p><span class="bold-text-card-details">Price per day: </span><%= @camera.price_per_day %></p>
              <p><span class="bold-text-card-details">Address: </span><%= @camera.address %></p>
              <% if current_user != @camera.user %>
                <p class="update-edit-links"><%= link_to "RENT CAMERA", new_camera_rental_path(params[:id]) %></p>
              <% end %>
              <p class="update-edit-links"><%= link_to "BACK TO LIST", cameras_path %></p>
          </div>
    </div>
  </div>
</div>
