<!DOCTYPE html>
<html>
  <head>
    <title>Aircams</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/98b35dfa03.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>

    <%= render 'shared/flashes' %>
  </body>

</html>
